.wrapper{width:450px; height:800px; text-align:center;background:powderblue;}

.header{width:450px; height:159px; text-align:center; margin:0px 0px 10px 0px;;background-image:linear-gradient(orange,white,white, green);font-size: 22px;color:blue;font-weight: bold;}

.block1{width:450px; height:31px;font-size:28px; text-align:center; margin:15px 0px 10px 0px;background:powderblue;border:1px solid black;}

.img1 {
    background-image: url("image1/back.png");
    background-position: 7px 0px;
    background-size: 45px;
    background-repeat: repeat-x;
    padding: 12px 20px 12px 40px;
    font-size: 22px;
    font-weight: bold;
    color:purple;
	width:392px; height:25px;font-size:22px; text-align:center; margin:25px 0px 10px opx;
}

.block2 h5{ width:450px; height:25px;font-size:15px; text-align:center; margin:15px 0px 10px 0px;background:powderblue;border:1px solid black;}

.nav ul{width:450px; height:125px; margin:0px 0px 0px -40px;list-style-type:none;}


.img2 {
    background-image: url("image1/back.png");
    background-position: 7px 0px;
    background-size: 45px;
    background-repeat: repeat-x;
    padding: 6px 20px 12px 40px;
    font-size: 22px;
    font-weight: bold;
    color:purple;
	width:392px; height:25px;font-size:22px; text-align:center; margin:81px 0px 10px 0px;
}
