
        .wrapper{width:450px; height:933px; text-align:center;background:powderblue;}
        
        .header{width:450px; height:159px; text-align:center; margin:0px 0px 10px 0px;;background-image:linear-gradient(orange,white,white, green);font-size: 22px;color:blue;font-weight: bold;}
        
        
        
        
        .img1 {
            background-image: url("image1/back.png");
            background-position: 7px 0px;
            background-size: 45px;
            background-repeat: repeat-x;
            padding: 12px 20px 12px 40px;
            font-size: 22px;
            font-weight: bold;
            color:purple;
            width:390px; height:25px;font-size:22px; text-align:center; margin:15px 0px 10px opx;
        }
        
        .section{width:450px; height:550px; text-align:center;background:powderblue;background-image:linear-gradient(orange,white,white, green);font-size: 22px;color:blue;font-weight: bold;margin:0px 0px 10px 0px;}
        
        .footer{width:450px; height:82px; text-align:center;background:powderblue;background-image:linear-gradient(orange,white,white, green);font-size: 22px;color:blue;font-weight: bold;margin:0px 0px 10px 0px;}
        
        
        